*{
    margin:0;
    padding: 0;
  }

.objMobile{
  display: none;
}  


$corLinhaSgv:#248842;

.svgFundo,.svgFundoPreto,.svgFundoContato{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}


  body {
    z-index: 100;
   }
  .ligth{
    width: 50px;

  }

  .ligth,.lua{
    position: fixed;
    margin-top: 50px;
    cursor: pointer;
    z-index: 100;
    margin-left: 85%;
  }

.txtContatos{
  z-index: 1;
}
.lua{
width: 35px!important;
fill:#2250a0!important;
display: none;

}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  -moz-transform:$property;
  -o-transform: $property;
  transform: $property;
}

@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}


.lua { @include transform(rotate(175deg)); }



  .orangeBox {
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-left: -90%;

}
  .links{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    z-index: 50;
  }
  .btn{
    background-color: #A4A4A4;
  }
 .btnProjetos{
    background-color: black;
    color: white;
    text-align: left;
    border:none;
  }
  .btn:hover{
    background-color: #D8D8D8;
  }
  .links label {
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: 'Arial';
    font-size: 100%;
    color: #fff;
  }
  .links label:hover{
    background-color: rgba(255,255,255,.2);
  }

  label{
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .links label:nth-child(1) {
  display: none;
}

%telaToda {
    width: 100vw;
    height: 100vh;
}
 
  .bloco {
   @extend %telaToda;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  #inicio{
    background-color: black;
  }

  .bloco.ruby{
    z-index: 2;
    background-color: black;
  }

  .bloco.projetos,button.btnProjetos{
    background-color: #1C1C1C;

  }


 #bootstrap{
    background-color: black;
    z-index: 0;
  }
  .scroll{
  @extend %telaToda;
    display: flex;
    overflow: hidden;
  }   
  .scroll input{
    display: none;
  }
  .sections{
    transition: all .4s;
  }
  #rd_bootstrap:checked ~ .sections{
    margin-top: -100vh;
  }
  #rd_sass:checked ~ .sections{
    margin-top: -200vh;
  }
  #rd_ruby:checked ~ .sections{
    margin-top: -300vh;
  }
.rosto{
  position: relative;
top: 53%;
transform: translateY(-50%); 
  width:150px;
  z-index: 4!important;
   border-radius: 5px; 
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}  

%rowCompartilhado {
  height: 270px;
  background-color: black;
  width: 93%;
  z-index: 1;
  margin-left: 3%;
}

.row.fundoSore{
  @extend %rowCompartilhado;
}

.row.fundoSoreCuros{
@extend %rowCompartilhado;
  border-radius: 10px;
    border-style: solid;
  border-color: #6E6E6E;
   border-bottom-width: medium;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}
.descricao{

  padding: 10px;
  color: black; 
  margin-top: 5%;
  font-family: verdana;
  font-size: 30px;
  font-weight: 2;
  background-color: white;
  z-index: 1;

}
.linha{
  stroke:#00A651;
}



.LoxLinhas{
  position: absolute;
  margin-top: 13%;
  width: 100%;
}
 .textoSobre{
  color: white;
  font-family: verdana;
  margin-top: 10%;
  font-size: 17px;
  }
  .btn-primary.projetosMenor{
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 15px;
    color: white;
    width: 100%;
    display: none;
    background-color: gray;
    border-color: white;
  }

  .btn-primary.projetosMenor:hover{
    
    color: black;
   background-color:  #A9A9A9;
    border-color: gray;
  }

 .txtBotao{
  font-size: 25px;
  color: white;
  margin: 20px;
 }
 .flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 100%;
  margin: 0px 20px 20px 20px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.imgProjetos{
  border-radius: 10px;
 
}

.imgProjetos:hover{
  border-radius: 10px;
box-shadow: 9px 5px 7px black;
}

.imgProjetos:hover { @include transition(0.3s ease-in); }

.imgProjetosGit:hover  { @include transition(2s ease-in); }

.imgProjetos:hover { @include transform(scale(1.01)); }

.imgProjetosGit:hover { @include transform(scale(1.2)); }

.imgProjetos:hover { @include transform(0.7s ease-in); }

.descricao::after{
  color: black;
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
 }
 .nome{
  color: white; position: absolute; margin: -10px 0px 0px 145px; z-index: 10; font-weight: bold; text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black; text-align: center; background-color: black; padding: 10px; width: 200px; 
 }


.modal-body, .modal-title{
  color: black;
}
.iconeSobre{
  display: none;
}
.formacao{
 font-size: 18px; color:black; background-color: white; margin: 20px; padding: 7px;
}


.logosSVG{
  width: 54px;
  height: 54px;

}



.tituloProjetos{
  color: white;
  background-color:#526DFC;
  padding: 10px;
  border-radius: 10px;
}



.tituloProjetos:hover{
  background-color:#2B6EEB;
  
}

 @keyframes pisca {
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
 }

 .iconeMenu{
    width: 35px;
  height: 5px;
  background-color: yellow;
  margin: 6px 0;

 }

 .x{
   color: yellow;
 }


  @import "mediaScrenn";